/* src/TodoList.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Ajuste para ocupar apenas a parte esquerda da linha */
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .completed {
    text-decoration: line-through;
    color: #888;
  }
  
  .checkbox {
    margin-right: 10px;
  }
  
  .input-container {
    display: flex;
    margin-bottom: 10px;
  }
  
  .input-container input {
    flex: 1;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
  }
  
  .input-container button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 8px 15px;
    font-size: 16px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  .input-container button:hover {
    background-color: #45a049;
  }
  